@import 'variables';

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

// ----- login ----- //

body {
  @include flex-center;
  background-image: url('../images/yellow-flower.jpg');
  background-position: center top; 
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  margin: 0;
  height: 100vh;
  background-color: $main-color;
}

.login-box {
  @include flex-center;

  position: absolute;
  width: 50vh;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 6px;
  // margin: 30px;

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);

  h1 {
    font-weight: 900;
    font-size: xx-large;
    color: $black-text;
    margin-bottom: 30px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(105, 105, 105);
    font-size: small;
  }
  
  button {
    @include main-button
  } 
}

.login-input {
  border: none;
  border-bottom: 1px solid rgb(105, 105, 105);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;
  width: 200px;
  
  &:focus {
    outline: 2px solid $accent-color;
  }
}

// ----- user dashboard ----- //

.dashboard {
  @include flex-center;

  h2 {
    font-weight: 900;
    color: white;
    margin-bottom: 5px;
  }

  .butt {
    border: 1px solid white;
    font-size: large;
    color: white;
    background-color: rgba(4,128,150,0.8);
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin: 10px;

    svg {
      margin-top: 3px;
      fill: white;
      height: 24px;
    }

  }

  div {
    @include flex-center;
    align-items: flex-start;
    width: 50vh;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    margin-top: 10px;
    padding: 20px;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    overflow-y: auto;  

    ul {
      margin: 10px;
    }
  }

  h3 {
    font-weight: 900;
    color: white;
    margin-bottom: 0;
  }

  h1 {
    font-size: xx-large;
    font-weight: 900;
    color: white;
    margin-top: 0;
  }

  .add-trips {
    display: flex;
    flex-direction: column;
    
    div {
      @include remove-div-styling;
      padding: 0;
      height: auto;
    }

    .input-flex {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0;
      
    }
    
    .trip-start-input {
    @include main-input-styling;
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 70px;
    }
  
    .trip-duration-input {
    @include main-input-styling;
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 70px;
    text-align: center;
    }
  
    .num-travelers-input {
    @include main-input-styling;
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 70px;
    text-align: center;
    }
  
    .destination-select {
    @include main-input-styling;
    width: 114px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 70px;
    text-align: center;
    }
  
    .confirm-trip-btn {
      @include main-button;
      margin-bottom: 0px
    }
  }
  
  .add-trip-buttons {
    @include remove-div-styling;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0);
    height: auto;
    overflow-y: visible;
    padding: 0;
    display: flex;
    flex-direction: row;
  
    .add-trip-btn {
      @include main-button;
      margin: 5px;
    }
  
    .go-back-btn {
      @include main-button;
      border: 3px solid $main-color;
      font-size: large;
      font-weight: 700;
      color: $main-color;
      background-color: rgba(0, 0, 0, 0);
      padding: 6px 48px;
      margin: 5px;
    }
  }
}

.upcoming-trips {
  align-items: center !important;
}

.add-trips {
  align-items: center !important;
}

.hidden {
  display: none !important;
}

.selected-button {
  background-color: white !important;

  svg {
    fill: $main-color !important;
  }
}

.error {
  color: $error-color !important;
}

.fetch-error {
  background-color: $error-color;
  font-weight: 900;
  width: 100%;
  padding: 300px;
  text-align: center;
  border-radius: 6px;
  z-index: 10 !important;
  position: absolute;
}
