body {
    background-image: url('../images/yellow-flower.jpg');
    background-position: center top; /* Align the top of the image with the top of the container */
    background-repeat: no-repeat; /* The image will not tile (repeat) */
    background-size: cover; 
}